*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    padding: 2em;
    display: flex;
    justify-content: center;
}

.video {
    padding: .5em 0em 5em;
    display: flex;
    justify-content: center;
}

/* top links */
.links {
    font-family: 'Lato', sans-serif;
    padding: .3em 0em 5em;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.socials {
    padding: 1em 5em;
}

.IG {
    width: 60px;
    height: auto;
  }

  .YT {
    width: 60px;
    height: auto;
  }

.sketchbookpics {
    margin: 1em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
}

.bow {
    padding: 1em;
    width: 40rem;
    height: auto;
}

.bow2 {
    padding: 2em;
    text-align: center;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
}

.picture {
    text-align: center;
}

.selfie {
    text-align: center;
}

.contactme {
    font-size: 30px;
    width: 24px;
    height: auto;
    display: flex;
    justify-content: center;
}

button {
    font-size: 1.5em;
}

body {
    background-color: rgb(225, 106, 225);
}

.animtext {
    font-family: 'Lato', 'regular';
    padding: 2em 1em;
    display: flex;
    font-size: 20px;
    /* justify-content: center; */
}

.animationsection {
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
}

.yapsesh {
    font-family: 'Lato', sans-serif;
    padding: 2em 20em;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 25px;
}

header{
    background-color: rgb(231, 178, 109);
}

.bruh {
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding: 1em;
}

.testimonials {
  margin: 50px auto;
  max-width: 600px;
  text-align: center;
}

.testimonial {
  margin-bottom: 30px;
}

.footer {
  background-color: rgb(66, 66, 66);
  text-align: center;
  padding: 2em;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #fff;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}
.footer-content p {
  margin: 5px 0;
}
.footer-content a {
  color: #fff;
  text-decoration: none;
}

/* Latto Stuff */

.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
